.password-change-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f7fb; /* Light background for the form */
  }
  
  .password-change-form {
    width: 100%;
    max-width: 400px; /* Limit the form width */
  }
  
  mat-card {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  }
  
  mat-card-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #22637c; /* Custom title color */
  }
  
  .full-width-field {
    width: 100%; /* Ensure form fields take full width */
    margin-bottom: 15px;
  }
  
  .submit-button {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    margin-top: 20px; /* Optional: Adjust the top margin if needed */
  }
  
  .submit-button button {
    flex: 1; /* Ensure both buttons take equal width */
    max-width: 150px; /* Set a max-width for the buttons */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .submit-button button:first-of-type {
    margin-right: 10px; /* Add margin to the right of the first button */
  }
  
  button {
    width: 100%;
  }

  
  