<div class="password-change-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordChangeForm" class="password-change-form">
      <mat-card>
        <mat-card-title>Change Password</mat-card-title>
  
        <mat-form-field appearance="fill" class="full-width-field">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" formControlName="currentPassword" required>
          <mat-error *ngIf="passwordChangeForm.get('currentPassword')?.hasError('required')">Current password is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width-field">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" required>
          <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('required')">New password is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width-field">
          <mat-label>Confirm New Password</mat-label>
          <input matInput type="password" formControlName="confirmNewPassword" required>
          <mat-error *ngIf="passwordChangeForm.get('confirmNewPassword')?.hasError('required')">Confirm new password is required</mat-error>
          <mat-error *ngIf="passwordMismatch">Passwords do not match</mat-error>
        </mat-form-field>
  
        <div class="submit-button">
          <button mat-raised-button color="primary" type="submit">Change Password</button>
          <button mat-raised-button color="accent" (click)="onBack()">Back</button>
        </div>
      </mat-card>
    </form>
  </div>
  