.dialog-card {
  padding: 20px;
  max-width: 800px; /* Set a maximum width for the dialog */
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between form fields */
}

.full-width {
  width: 500px; /* Ensure all form fields are full-width */
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between file input and image preview */
}

.image-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .dialog-card {
    padding: 15px; /* Reduce padding on smaller screens */
  }
  .full-width {
    width: 300px; /* Ensure all form fields are full-width */
  }

}
